body {
  padding-top: 0px !important;
}

body #center-page-content {
  margin-left: 20px;
}

.img-circle {
  border-radius: 50%;
}

/*.mdl-button .user-img {
  border-radius: 50% !important;
  height: 50px !important;
}*/

.remove-links-decor {
  text-decoration: none !important;
}

.move-img {
  margin-top: 10px;
}

.square-card.mdl-card {
  height: 320px;
  width: 320px;
}

.mdl-layout-title {
  color: white;
}

.mdl-card__title {
  background: rgb(3, 169, 244);
}

.home-background {
  background: white;
  height: 500px;
  width: 100%;
}

.fa {
  margin-right: 20px;
}

/*.mdl-layout__header {
  background: rgb(33,150,243);
}*/
