body {
  padding-top: 0px !important;
}

body #center-page-content {
  margin-left: 20px;
}

.img-circle {
  border-radius: 50%;
}

/*.mdl-button .user-img {
  border-radius: 50% !important;
  height: 50px !important;
}*/

a {
  text-decoration: none !important;
  color: black !important;
}

.move-img {
  margin-top: 10px;
}

.square-card.mdl-card {
  height: 320px;
  width: 320px;
}
